@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* LOGIN PAGE */

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
}

/* HTML: <div class="loader"></div> */
.loader {
    --w:10ch;
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    line-height: 1.4em;
    letter-spacing: var(--w);
    width: var(--w);
    overflow: hidden;
    white-space: nowrap;
    color: #0000;
    text-shadow: 
          calc( 0*var(--w)) 0 #000,calc(-1*var(--w)) 0 #000,calc(-2*var(--w)) 0 #000,calc(-3*var(--w)) 0 #000,calc(-4*var(--w)) 0 #000, 
          calc(-5*var(--w)) 0 #000,calc(-6*var(--w)) 0 #000,calc(-7*var(--w)) 0 #000,calc(-8*var(--w)) 0 #000,calc(-9*var(--w)) 0 #000;
    animation: l20 2s infinite linear;
}

.loader:before {
    content:"Loading...";
}
  
@keyframes l20 {
    9.09% {text-shadow: 
          calc( 0*var(--w)) -10px #000,calc(-1*var(--w)) 0 #000,calc(-2*var(--w)) 0 #000,calc(-3*var(--w)) 0 #000,calc(-4*var(--w)) 0 #000, 
          calc(-5*var(--w)) 0 #000,calc(-6*var(--w)) 0 #000,calc(-7*var(--w)) 0 #000,calc(-8*var(--w)) 0 #000,calc(-9*var(--w)) 0 #000}
    18.18% {text-shadow: 
          calc( 0*var(--w)) 0 #000,calc(-1*var(--w)) -10px #000,calc(-2*var(--w)) 0 #000,calc(-3*var(--w)) 0 #000,calc(-4*var(--w)) 0 #000, 
          calc(-5*var(--w)) 0 #000,calc(-6*var(--w)) 0 #000,calc(-7*var(--w)) 0 #000,calc(-8*var(--w)) 0 #000,calc(-9*var(--w)) 0 #000}
    27.27% {text-shadow: 
          calc( 0*var(--w)) 0 #000,calc(-1*var(--w)) 0 #000,calc(-2*var(--w)) -10px #000,calc(-3*var(--w)) 0 #000,calc(-4*var(--w)) 0 #000, 
          calc(-5*var(--w)) 0 #000,calc(-6*var(--w)) 0 #000,calc(-7*var(--w)) 0 #000,calc(-8*var(--w)) 0 #000,calc(-9*var(--w)) 0 #000}
    36.36% {text-shadow: 
          calc( 0*var(--w)) 0 #000,calc(-1*var(--w)) 0 #000,calc(-2*var(--w)) 0 #000,calc(-3*var(--w)) -10px #000,calc(-4*var(--w)) 0 #000, 
          calc(-5*var(--w)) 0 #000,calc(-6*var(--w)) 0 #000,calc(-7*var(--w)) 0 #000,calc(-8*var(--w)) 0 #000,calc(-9*var(--w)) 0 #000}
    45.45% {text-shadow: 
          calc( 0*var(--w)) 0 #000,calc(-1*var(--w)) 0 #000,calc(-2*var(--w)) 0 #000,calc(-3*var(--w)) 0 #000,calc(-4*var(--w)) -10px #000, 
          calc(-5*var(--w)) 0 #000,calc(-6*var(--w)) 0 #000,calc(-7*var(--w)) 0 #000,calc(-8*var(--w)) 0 #000,calc(-9*var(--w)) 0 #000}
    54.54% {text-shadow: 
          calc( 0*var(--w)) 0 #000,calc(-1*var(--w)) 0 #000,calc(-2*var(--w)) 0 #000,calc(-3*var(--w)) 0 #000,calc(-4*var(--w)) 0 #000, 
          calc(-5*var(--w)) -10px #000,calc(-6*var(--w)) 0 #000,calc(-7*var(--w)) 0 #000,calc(-8*var(--w)) 0 #000,calc(-9*var(--w)) 0 #000}
    63.63% {text-shadow: 
          calc( 0*var(--w)) 0 #000,calc(-1*var(--w)) 0 #000,calc(-2*var(--w)) 0 #000,calc(-3*var(--w)) 0 #000,calc(-4*var(--w)) 0 #000, 
          calc(-5*var(--w)) 0 #000,calc(-6*var(--w)) -10px #000,calc(-7*var(--w)) 0 #000,calc(-8*var(--w)) 0 #000,calc(-9*var(--w)) 0 #000}
    72.72% {text-shadow: 
          calc( 0*var(--w)) 0 #000,calc(-1*var(--w)) 0 #000,calc(-2*var(--w)) 0 #000,calc(-3*var(--w)) 0 #000,calc(-4*var(--w)) 0 #000, 
          calc(-5*var(--w)) 0 #000,calc(-6*var(--w)) 0 #000,calc(-7*var(--w)) -10px #000,calc(-8*var(--w)) 0 #000,calc(-9*var(--w)) 0 #000}
    81.81% {text-shadow: 
          calc( 0*var(--w)) 0 #000,calc(-1*var(--w)) 0 #000,calc(-2*var(--w)) 0 #000,calc(-3*var(--w)) 0 #000,calc(-4*var(--w)) 0 #000, 
          calc(-5*var(--w)) 0 #000,calc(-6*var(--w)) 0 #000,calc(-7*var(--w)) 0 #000,calc(-8*var(--w)) -10px #000,calc(-9*var(--w)) 0 #000}
    90.90% {text-shadow: 
          calc( 0*var(--w)) 0 #000,calc(-1*var(--w)) 0 #000,calc(-2*var(--w)) 0 #000,calc(-3*var(--w)) 0 #000,calc(-4*var(--w)) 0 #000, 
          calc(-5*var(--w)) 0 #000,calc(-6*var(--w)) 0 #000,calc(-7*var(--w)) 0 #000,calc(-8*var(--w)) 0 #000,calc(-9*var(--w)) -10px #000}
}
  
.login-background {
    background-image: url('./assets/background.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    @apply bg-secondbg p-10 border-2 border-border rounded-3xl w-2/5 mx-auto
}
  
.login-container h2 {
    @apply text-center text-4xl font-bold font-primary 
}
  
.login-container p {
    @apply mt-5 text-center font-secondary text-description text-lg
}
  
.form-group label {
    @apply font-bold font-primary
}
  
.form-group input {
    @apply w-full px-4 py-2.5 border-[1.5px] border-border rounded-xl mt-2 mb-4 focus:outline-none font-secondary
}
  
button {
    @apply py-3 w-full bg-primary text-white mt-2.5 rounded-xl font-primary font-semibold text-lg hover:translate-x-2 transition-all
}



/* HEADER PAGE */

.header {
    @apply flex items-center justify-between py-4
}

.logo {
    @apply w-32 h-auto
}

.header ul {
    @apply flex gap-5 items-center
}

.nav-item {
    @apply font-primary text-[17px] font-semibold text-gray-700
}

.header ul li a .active {
    @apply !bg-primary
}

.header-btn {
    @apply py-2 px-4 bg-primary text-white rounded-lg font-primary font-bold text-sm cursor-pointer hover:translate-x-2 transition-all
}


/* ADD BOOK PAGE */

.container {
    @apply border-2 border-border rounded-3xl p-10 bg-secondbg
}

.add_book h2,
.add_pre_order h2 {
    @apply text-4xl font-bold font-primary
}

.add_book form label, 
.add_pre_order form label {
    @apply font-primary font-semibold text-[19px] block
}

.add_book form input,
.add_pre_order form input,
.add_book form textarea {
    @apply w-full px-4 py-3 border-2 border-border rounded-xl mt-2 focus:outline-none font-secondary text-[17px]
}

.add_pre_order h3 {
    @apply text-[22px] font-primary font-semibold
}

.action_btn {
    @apply border-2 border-border rounded-xl cursor-pointer hover:border-black transition-all
}

.action_btn img {
    @apply w-4 h-4
}

.css-13cymwt-control {
    @apply mt-2 !border-2 !border-border !cursor-pointer !rounded-xl px-2 py-1.5
}


/* HOME PAGE */

.book_card {
    @apply border-2 border-border py-3 px-4 rounded-xl mt-4 cursor-pointer
}

.book_card h2 {
    @apply font-bold text-xl font-primary
}

.book_card h3,
.modal h3,
.modal p {
    @apply font-primary mt-1 font-semibold
}

.search_container {
    @apply flex justify-between items-center rounded-xl border-2 border-third
}

.search_container input {
    @apply w-80 py-2 px-3 rounded-xl focus:outline-none
}

.search-div {
    @apply rounded-s-lg p-[9px] cursor-pointer bg-third
}

.modal_container {
    @apply bg-white bg-opacity-75 fixed top-0 right-0 z-50 h-full w-full flex items-center justify-center
}

.modal {
    @apply bg-fourth border-2 border-border border-opacity-40 p-5 rounded-2xl min-w-[35%] max-w-[50%] max-h-[90%] overflow-y-auto
}

.modal h1 {
    @apply text-xl font-semibold font-primary
}

.modal h2 {
    @apply text-2xl font-primary font-semibold capitalize mt-3
}

.modal h6,
.customer_details h6 {
    @apply font-semibold font-primary underline underline-offset-8 decoration-secondary decoration-2 mt-4
}

.delete_btn {
    @apply border-[#F62929] border-opacity-30 hover:border-[#F62929]
}

.edit_btn {
    @apply border-[#2196F3] border-opacity-30 hover:border-[#2196F3]
}

.search_list {
    @apply cursor-pointer p-2 border-b border-border font-semibold text-xl font-primary
}

.search_list:last-child {
    @apply border-b-0
}


/* PRE ORDERS */

.pre_order h2,
.customers h2,
.customer_details h2 {
    @apply text-2xl font-primary font-bold capitalize
}

select {
    @apply w-full mt-2 border-2 border-border rounded-xl focus:outline-none p-3
}

.customer_details table {
    @apply w-full border-2 border-border mt-5
}

.customer_details table th,
.customer_details table td {
    @apply px-4 py-2
}

.customer_details table th {
    @apply font-primary font-semibold
}